* {
    box-sizing: content-box;
    font-family: "Roboto", sans-serif;
    box-sizing: content-box;
    padding: 0%;
    margin: 0%;
}

p {
    font-size: 18px;
}

h3 {
    font-size: 18px;
}

body {
    background-color: white;
    padding: 0;
    margin: 0;
}
/*location*/

.locationContainer {
    position: relative;
    display: flex;
    height: 50px;
    justify-content: center;
    background-color: rgba(234, 234, 234, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


    span {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    span :first-child {
        margin-right: 17px;
    }

}

/*text + Button*/
.sectionTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(246, 246, 246, 1);
    padding-bottom: 50px;

    h1 {
        text-align: center;
        padding-top: 39px;
        padding-left: 44px;
        padding-right: 58px;
    }

    P {
        text-align: center;
        padding-top: 10px;
        padding-left: 34px;
        padding-right: 26px;
        margin-bottom: 27px;
    }

    a {
        display: block;
        color: white;
        text-decoration: none;
        text-align: center;
        background: linear-gradient(#FF79DA, #9356DC);
        border: none;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        border-radius: 40px;
        padding: 13px 19px 13px 19px;

        &:hover {
            opacity: 0.6;
            box-shadow: 0px 4px 15px 0px #00000059;
            transform: scale(1.1);
            transition: 500ms;
        }
    }
}

/*Fonctionnement*/
.fonctionContainer {
    display: flex;
    width: 86%;
    margin-left: 6%;
    flex-direction: column;
    margin-top: 35px;
    gap: 15px;
    padding-left: 20px;
    padding-right: 20px;

    .fonctionElement {
        margin-right: 24px;

        li {
            margin-right: 0;
        }
    }

    .tilteFonction {
        padding-bottom: 26px;
    }

    .circle {
        display: flex;
        position: absolute;
        justify-content: center;
        width: 100%;
        text-align: center;
        width: 24px;
        height: 24px;
        background-color: #9747FF;
        color: white;
        border-radius: 50%;
        margin-top: 27px;
        margin-left: -8px;
    }

    span {
        align-items: center;
    }

    ul {
        list-style: none;
        margin-bottom: 11px;
    }

    li {
        background-color: rgba(246, 246, 246, 1);
        border-radius: 20px;
        padding-top: 30px;
        padding-right: 38px;
        padding-bottom: 30px;
        margin-bottom: 25px;
        box-shadow: 0 4px 8px 5px rgba(0, 0, 0, .07);
        margin-top: auto;
    }

    li :first-child {
        color: rgba(126, 126, 126, 1);
        padding-left: 45px;
        padding-right: 20px;
    }

}

/*Cards*/
.titleContainer {
    padding-top: 54px;
    padding-left: 20px;
    padding-bottom: 48px;
    background: rgba(246, 246, 246, 1);
}

.restaurantsContainer {
    display: flex;
    background: rgba(246, 246, 246, 1);
    flex-direction: column;
    align-items: center;


    .restaurants {
        width: 85%;
        margin-bottom: 66px;

        h2 {
            padding-top: 52px;
            padding-left: 20px;
        }

        .cards {
            background-color: white;
            margin-bottom: 18px;
            border-radius: 20px;
            box-shadow: 0 4px 8px 5px rgba(0, 0, 0, .07);
            padding-bottom: 12px;
        }

        .restaurantContainer {
            display: flex;
            justify-content: space-between;

        }

        img {
            width: 100%;
            height: 175px;
            object-fit: fill;
            padding-bottom: 16px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        h3 {
            color: black;
            padding-left: 10px;
            padding-bottom: 5px;
            padding-left: 13px;
        }

        p {
            color: black;
            padding-left: 13px;
        }

        a {
            text-decoration: none;
        }
    }
}

.images {
    position: relative;

    .new {
        background-color: #99e2d0;
        color: #008766;
        border-radius: 3px;
        padding: 6px 12px;
        position: absolute;
        top: 12px;
        right: 12px;
    }
}

@media (min-width: 768px) {
    .fonctionContainer {
        .tilteFonction {
            margin-left: -20px;
        }
    }
}

@media (min-width : 1024px) {

    .titleContainer {
        padding-left: 6%;
    }

    .restaurantsContainer {

        .restaurants {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;

            img {
                object-fit: cover;
            }
        }
    }

    .fonctionContainer {

        ul {
            justify-content: center;
        }

        h2 {
            margin-left: 20px;
        }
    }
}