.container-loader{
  position: fixed;
  background-color: #FFFFFF;
  height: 100vh;
  inset: 0;
  opacity: 0.9;
  z-index: 1;
  animation: disappear 1s 1s forwards;
  display: grid;
  place-items: center;
}

@keyframes disappear{
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(0);
  }
}

.circle-loader{
  border: 10px solid #FFFFFF;
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #99E2D0;
  border-radius: 50%;
  inset: 0;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}